body {
    background-color: #f3f6fb;
    height: 100%;
    margin: 0 auto;
}

#page-container {
    position: relative;
    min-height: 100vh;

}

#content-wrap {
    padding-bottom: 2.5rem;
}


.para {
    border-radius: 10%;
    padding-top: 15px
}

#para {
    padding-top: 5px;
    line-height: 30px;

}

h1 {
    color: #ffffff
}

.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }

.navbar {
    background-color: #264067;
    border-bottom: solid black;
    
}

.nav-link a {
    text-decoration: none;
    color: white;
}

.color-me {
    color: white;
}


.page-header {
    background-color: #3f69aa;
    padding-left: 70px;
    
}

footer {
position: absolute;
text-align: center;
background-color: #afc3e1;

bottom:0;
width:100%;
border-top: solid black;
}

#copyright {
    color: white;
}

div.card {
    margin: 20px;
    float: left;
    width: 100%;
    height: auto;
    

}

.img-hover:hover{
    opacity: .5;
    
    transition: .5s ease;
    
}

.container {
    background-color: #f3f6fb;
    /* padding-top: 10px; */
    margin-top: 20px;
    
}

.containter-fluid {
    margin: 25px auto;
    align-content: center;
    
}


